[submodule "atuin"]
	path = atuin
	url = git@github.com:areif-dev/atuin
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:areif-dev/alacritty
[submodule "dunst"]
	path = dunst
	url = git@github.com:areif-dev/dunst
[submodule "rofi"]
	path = rofi
	url = git@github.com:areif-dev/rofi
[submodule "sway"]
	path = sway
	url = git@github.com:areif-dev/sway
[submodule "waybar"]
	path = waybar
	url = git@github.com:areif-dev/waybar
[submodule "nixos-config"]
	path = nixos-config
	url = git@github.com:areif-dev/nixos-config
[submodule "nixos"]
	path = nixos
	url = git@github.com:areif-dev/nixos-config
[submodule "starship"]
	path = starship
	url = git@github.com:areif-dev/starship-config
[submodule "bashrc"]
	path = bashrc
	url = git@github.com:areif-dev/bashrc
[submodule "nvim"]
	path = nvim
	url = git@github.com:areif-dev/nvim-config
[submodule "river"]
	path = river
	url = https://github.com/areif-dev/river
